* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(218, 23%, 16%);
  /* font-weight: 800; */
  width: 100%;
  height: 100vh;
}

/* Colors */
/* Primary */
.light-cyan {
  color: hsl(193, 38%, 86%);
}

.neon-green {
  color: hsl(150, 100%, 66%);
}

/* Neutral */
.grayish-blue {
  color: hsl(217, 19%, 38%);
}

.dark-grayish-blue {
  color: hsl(217, 19%, 24%);
}

.dark-blue {
  color: hsl(218, 23%, 16%);
}

/* Typography */
/* Body Copy */
.advice-number p {
  color: hsl(150, 100%, 66%);
  letter-spacing: 8px;
  font-weight: bold;
}

#quote {
  font-size: 28px;
  color: hsl(193, 38%, 86%);
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.advice {
  width: 540px;
  height: 364px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 15px;
  .drop-shadow {
    box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.102);
  }
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 60px;
  position: relative;
}

#quote {
  font-size: 28px;
  text-align: center;
}

#outer-select {
  background-color: hsl(150, 100%, 66%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -32px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#outer-select:hover {
  transition: 0.3s ease-in-out;
  filter: drop-shadow(5px 5px 35px #00ffa2);
}

#pattern-mobile {
  display: none;
}

/* Layout */
@media (max-width: 420px) {
  /* Styles for mobile layout */
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
  }

  .advice {
    max-width: 343px;
    max-height: 347px;
    padding: 0 10px;
  }

  #pattern-mobile {
    display: block;
  }

  #pattern-desktop {
    display: none;
  }
}

@media (min-width: 1440px) {
  /* Styles for desktop layout */
  .advice {
    min-width: 540px;
    min-height: 364px;
  }
}
