* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/backgound.jpg");
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.container {
  padding: 0 150px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.hero1,
.hero2 {
  width: 423px;
  height: 499px;
  /* background-color: aqua; */
  background-size: cover; /* Ensure the image covers the whole element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  border-radius: 20px;
  border: 10px solid black;
  -webkit-box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.75);
}

.fighter {
  width: 423px;
  height: 499px;
  /* background-color: rgb(76, 0, 255); */
  -webkit-box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  /* cursor: pointer; */
}

.first-hero-name {
  /* background-color: coral; */
  text-align: left;
  font-size: 32px;
}
.fighting {
  background-color: rgb(124, 255, 80);
  text-align: center;
  font-size: 32px;
  cursor: pointer;
  border-radius: 15px;
  color: black;
}
.second-hero-name {
  /* background-color: rgb(80, 223, 255); */
  text-align: right;
  font-size: 32px;
}
